name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      # renovate: datasource=github-tags depName=fontist/fontist
      FONTIST_VERSION: 2.0.3
      # renovate: datasource=github-tags depName=typst/typst
      TYPST_VERSION: 0.14.0
    steps:
      - uses: actions/checkout@v6

      - uses: ruby/setup-ruby@v1

      - uses: fontist/setup-fontist@v2
        with:
          fontist-version: ${{ env.FONTIST_VERSION }}
          cache-dependency-path: .fontist/manifest.yml

      - uses: typst-community/setup-typst@v4
        with:
          typst-version: ${{ env.TYPST_VERSION }}

      - run: make -B update
